body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: helvetica;
}

.eingabeContainer{
    position: fixed;
    border: solid black 1px;
    padding: 10px;
    background-color: white;
    visibility: hidden;
    z-index: 100;
}

.eingabeContainer>p{
    margin-top: 10px;
    margin-bottom: 5px;
}

.eingabeContainer>div{
    margin-top: 10px;
}

.eingabeContainer>button{
    margin-top: 10px;
    margin-bottom: 3px;
}

body>img{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.buchContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes growCenter {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.buch {
    border: solid black 1px;
    width: 200px;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
    transform-origin: center;
    animation: growCenter 0.3s ease-out forwards;
}

